body {
    white-space: nowrap;
    overflow-y: scroll;
}

section {
    display: inline-block;
    vertical-align: middle;
}

.circle {
    width: 500px;
    height:500px;
    border-radius: 250px;
    background-color: teal;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 400px solid thistle;
}

.pacperson{
    width: 500px;
    height: 500px;
    border-radius: 250px;
    background-color: turquoise;
    position: relative;
}

.pacperson:after{
    content: "";
    border-right:250px solid white;
    border-bottom: 250px solid transparent;
    border-top: 250px solid transparent;
    border-width: 250px 250px 250px 0px;
    right:0;
    position: absolute;
    transition: all 0.5s ease-in;
}

.pacperson:hover:after{
    border-width: 0 250px 0 0;
    margin-top:250px;
}