[submodule "iOS/Intro to iOS/iOSTraining-Trivia"]
	path = iOS/Intro to iOS/iOSTraining-Trivia
	url = git@github.com:thisolivier/iOSTraining-Trivia.git
[submodule "iOS/Intro to iOS/iOSTesting-ColdCall"]
	path = iOS/Intro to iOS/iOSTesting-ColdCall
	url = git@github.com:thisolivier/iOSTesting-ColdCall.git
[submodule "iOS/Intro to iOS/iOSTraining-TicTacToe"]
	path = iOS/Intro to iOS/iOSTraining-TicTacToe
	url = https://github.com/thisolivier/iOSTraining-TicTacToe
[submodule "iOS/Intro to iOS/iOSTraining-JustAnotherTipCalculator"]
	path = iOS/Intro to iOS/iOSTraining-JustAnotherTipCalculator
	url = https://github.com/thisolivier/iOSTraining-JustAnotherTipCalculator
[submodule "iOS/Intro to iOS/iOSTraining-ColdCall"]
	path = iOS/Intro to iOS/iOSTraining-ColdCall
	url = git@github.com:thisolivier/iOSTraining-ColdCall.git
