<!doctype HTML>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        {% load static %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Anton|Nunito:400,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'users_app/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Boo</h1>
            {{ table | safe }}
            <a href="/users/new" class="btn btn-primary">Add User</a>
        </div>
    </body>
</html>