body{
    font-family: sans-serif;
    padding: 30px;
    margin: 0;
    background-color:gray;
    color: white;
}

.row:first-of-type{
    border-radius: 10px 10px 0 0;
}

.row:last-of-type{
    border-radius: 0 0 10px 10px;
}

.row{
    padding: 10px;
    background-color: black;
}

.row.style1{
    background-color: #E84B30;
}

.row.style2{
    background-color: #45CCFF;
}

.row.style3{
    background-color: #FFD432;
}

table{
    border-collapse: collapse;
}

td {
    border: 2px solid white;
    background-color: #FFD432;
    position: relative;
}

th{
    height: 2em;
}

td{
    padding: 5px;
}

td:first-of-type{
    font-weight: bold;
    padding-right: 20px;
}

a {
    color: #FFD432;
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    font-weight: bold;
    border-radius: 15px;
}

form input[type="submit"]{
    background-color: #E84B30;
    color: white;
    border:2px solid white;
    border-radius: 0 1em 1em 0;
    height: 100%;
    position: absolute;
    right: -3.5em;
    font-weight: bold;
    top: 0;
}