<!doctype HTML>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <article>
            <h1>About Olivier</h1>
            <p>Olivier is epic, I mean, just look at this page- so tastefully minimalist, am I right?! You don't think so, well I'm just a statement, I don't know why you'd argue with me. Didn't you hear? Strings are immutabe.</p>
            <p>Seriously though, check out <a href="olivier.uk">my website</a> for actual info.</p>
        </article>
    </body>
</html>