<!doctype HTML>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <article>
            <h1>Home</h1>
            <p>This is my first app with multiple routes, cool eh! Well, a tiny bit. I have a useful website at <a href="olivier.uk">olivier.uk</a>, which I encourage you to visit!</p>
            <p>Check out the <a href="./about">about</a> and <a href="./projects">portfolio</a> pages for more uselessness.</p>
        </article>
    </body>
</html>