<!doctype HTML>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Portfolio</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <article>
            <h1>Portfolio</h1>
            <p>I mean come on, this mini app isn't pretty enough for you! Well, I suppose it's not about pretty eh.</p>
            <p>You really wanna see some stuff, go to this <a href="https://github.com/thisolivier/review-coding-dojo">github repo</a>, check out what I've made in like no time at all.</p>
        </article>
    </body>
</html>