@import url('https://fonts.googleapis.com/css?family=Eczar:500,800|Libre+Franklin:500,700,800');

body{
    font-family: sans-serif;
    font-size: 10px;
    padding-top: 2em;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(left, rgb(0,0,0) 0%, rgb(0,0,0) 1%, rgb(241,218,54) 1%, rgb(241,218,54) 40%, rgb(254,252,234) 99%);
    background: -webkit-linear-gradient(left, rgb(0,0,0) 0%,rgb(0,0,0) 1%,rgb(241,218,54) 1%,rgb(241,218,54) 40%,rgb(254,252,234) 99%);
    background: linear-gradient(to right, rgb(0,0,0) 0%,rgb(0,0,0) 1%,rgb(241,218,54) 1%,rgb(241,218,54) 40%,rgb(254,252,234) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#fefcea',GradientType=1 );
    font-family: 'Libre Franklin', serif;
}
h1{
    font-size: 2em;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Eczar', serif;
    font-weight: 800;
}

textarea{
    display: block;
}

li span{
    font-weight: bolder;
}

header {
    position: absolute;
    padding: 0 0 0 1em;
    box-sizing: border-box;
    width: 100vw;
    left: 0;
    top: 0;
    background: black;
    color: white;
}

header + article{
    margin-top: 2em;
}

article{
    width: 25em;
    font-size: 2em;
    line-height: 1.3;
    margin: 0 auto;
    background-color: white;
    padding: 1em 3em 2em 3em;
    border-width: 0 0 0 0.5em;
    border-style: solid;
    border-color: black;
    border-radius: 0 2em 2em 0;
}

a{
    color: rgb(241,218,54);
}

label{
    display: block;
}

input[type=submit]{
    background-color: black;
    color: white;
    font-size: 1em;
    border: 0;
    border-radius: 1em;
    padding: 0.2em 0.7em;
    display: block;
    margin-top: 1em;
}

header .message:before{
    content: "Error";
    background-color: red;
    display: inline-block;
    padding: 0.2em 0.4em;
    border-radius: 0.4em;
    margin-right: 1em;
}

header .success:before{
    content: "Success";
    background-color: greenyellow;
    color: black;
    display: inline-block;
    padding: 0.2em 0.4em;
    border-radius: 0.4em;
    margin-right: 1em;
}